# Android / Gradle
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
captures
.externalNativeBuild
.cxx
local.properties

# Node.js
server/node_modules
server/uploads
server/.env

# OS
Thumbs.db
*.apk
*.jks
